.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  background-color: #eceddd;
  height: 350px;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-size: cover;
  object-fit: cover;
  cursor: pointer;
}

.pokemon-img {
  width: 280px;
  height: 300px;
}
